@font-face {
    font-family: 'Montserrat'; /*a name to be used later*/
    src: url('./Montserrat-ExtraBold.ttf'); /*URL to font*/
}

html, body {
	margin: 0;
	background-color: #2E282B;
	height: 100vh;
	width: 100%;
}

#root {
	position: relative;

	height: 100vh;

}

h1 {
	overflow: hidden;

	max-width: 1080px;
	color: #3F393B;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 14rem;
	text-align: center;
	letter-spacing: -0.3rem;
	line-height: 13rem;
	user-select: none;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

h2 {
	color: #CBCACC;
	position: absolute;
	left: 50px;
	top: 50px;
	max-width: 200px;

	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 2.3rem;
	letter-spacing: -0.1rem;
	line-height: 2rem;
	margin: 0;
}

img {
	user-select: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.frame {
	background: linear-gradient(to right, #f0ece5, #efdece 6%, #efdece), #efdece;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    width: 225px;
    height: 475px;
    position: absolute;
    z-index: 2;
	border-radius: 20px;
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/frameIphone.png); */
    pointer-events: none;
}